@model Web.ViewModels.Basket.BasketViewModel
@{
    ViewData["Title"] = "Basket";
}

<div class="container">

    @if (Model.Items.Any())
    {
        <form>
            <article class="esh-basket-titles row">
                <br />
                <section class="esh-basket-title col-sm-3">Product</section>
                <section class="esh-basket-title col-sm-3 hidden-lg-down"></section>
                <section class="esh-basket-title col-sm-2">Price</section>
                <section class="esh-basket-title col-sm-2">Quantity</section>
                <section class="esh-basket-title col-sm-2">Cost</section>
            </article>
            <div class="esh-catalog-items row">
                <div asp-validation-summary="All" class="text-danger"></div>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    var item = Model.Items[i];
                    <article class="esh-basket-items row">
                        <div class="col-sm-3">
                            <section class="esh-basket-item esh-basket-item--middle col-sm-3 hidden-lg-down">
                                <img class="esh-basket-image" src="@item.PictureUrl" />
                            </section>
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-2">
                            <section class="esh-basket-item esh-basket-item--middle">$ @item.UnitPrice.ToString("N2")</section>
                        </div>
                        <div class="col-sm-2">
                            <section class="esh-basket-item esh-basket-item--middle" name="basket-item-UpdateOrChange">
                                <input type="hidden" class="esh-basket-item-id" value="@item.Id" />
                                <input type="number" class="esh-basket-item-quentity" min="0" value="@item.Quantity" />
                            </section>
                        </div>
                        <div class="col-sm-2">
                            <section class="esh-basket-item esh-basket-item--middle esh-basket-item--mark">$ @Math.Round(item.Quantity * item.UnitPrice, 2).ToString("N2")</section>
                        </div>
                        <div class="row">
                        </div>
                    </article>
                }
                <div class="container mt-5">
                    <div class="row">
                        <section class="esh-basket-item col-sm-4">
                            <button class="btn btn-outline-primary esh-basket-ContinueShopping" value="" type="submit" asp-controller="home" asp-action="Index">
                                [ Continue Shopping ]
                            </button>
                        </section>
                        <div class="col-sm-3"></div>
                        <section class="esh-basket-item col-sm-3">
                            <button type="button" class="esh-basket-Update btn btn-outline-primary" onclick="UpdateBasket(this)">
                                [ Update ]
                            </button>
                            <button type="button" class="esh-basket-checkout btn btn-outline-primary" onclick="CheckoutBasket(this)">
                                [ Checkout ]
                            </button>
                        </section>
                        <div class="col-sm-2">
                            <article class="esh-basket-titles esh-basket-titles--clean row">
                                <section class="esh-basket-title col-sm-12"></section>
                                <section class="esh-basket-title col-sm-2">Total</section>
                            </article>
                            <article class="esh-basket-items row">
                                <section class="esh-basket-item col-sm-12"></section>
                                <section class="esh-basket-item esh-basket-item--mark ">$ @Model.Total().ToString("N2")</section>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <h3 class="esh-catalog-items row">
            Basket is empty.
        </h3>

        <section class="esh-basket-item">
            <a asp-page="/Index" class="btn esh-basket-checkout text-white">[ Continue Shopping ]</a>
        </section>
    }
</div>
@* use basket index jquery *@
@section Scripts {
    <script src="~/js/Basket/index.js"></script>
}