@model Web.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<section class="esh-catalog-filters">
    <div class="container-fluid">
        <form method="get">
            <label class="esh-catalog-label" data-title="brand">
                <label class="me-2 d-inline-block mb-0">Brand :</label>
                <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="esh-catalog-filter form-select d-inline-block w-auto"></select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <label class="ms-2 me-2 d-inline-block mb-0">Types : </label>
                <select asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types" class="esh-catalog-filter form-select d-inline-block w-auto"></select>
            </label>
            <button class="esh-catalog-send ms-2 btn btn-primary" type="submit">
                Submit
            </button>

        </form>
    </div>
</section>
<div class="container">
    @if (Model.CatalogItems.Any())
    {
        <partial name="_pagination" for="PaginationInfo" />

        <div class="esh-catalog-items row g-4">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="esh-catalog-item col-lg-4 col-md-6 col-sm-12 flex-column">
                    <partial name="_product" for="@catalogItem" />
                </div>
            }
        </div>
        <partial name="_pagination" for="PaginationInfo" />
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>

