@using Web.ViewModels.Basket
@using Web.ViewModels.Home
@model CatalogItemViewModel

<form id="basketForm">
    @* display *@
    <img class="esh-catalog-thumbnail img-fluid" src="@Model.PictureUri" />
    <button class="esh-catalog-button my-2 btn btn-outline-primary" onclick="AddItemToBasket(this)">
        [ ADD TO BASKET ]
    </button>
    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    @* add item to basket post request data*@
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
</form>
